body {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    color: #333333;
}

h2 {
    margin: 0;
}

hr {
    margin: 0;
}

nav {
    background-color: #f4f5f7;
    height: 50px;
    box-shadow: 1px 1px 2px -1px;
}

nav ul {
    height: 100%;
    width: 60%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
}

nav li {
    background-color: #f4f5f7;
    list-style: none;
    line-height: 50px;
    text-align: center;
    float: left;
    width: 25%;
    height: 100%;
    transition: all 300ms 0s ease;
}

nav li:hover {
    background-color: #333333;
    color: #f4f5f7;
    list-style: none;
    line-height: 50px;
    text-align: center;
    float: left;
    width: 25%;
    height: 100%;
}

.container {
    background-color: #f4f5f7;
    height: 500px;
    width: 100%;
    /* border-bottom: solid 5px red; */
    /* content 中央揃え */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 80%;
    width: 80%;
    /* margin: 0 auto; */
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#home {
    background-color: f4f5f7;
    float: left;
    line-height: 50px;
    text-align: center;
    height: 100%;
    width: 40%;
    margin-right: auto;
}