@media screen and (min-width: 768px) {
    body {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        color: #333333;
    }

    h2 {
        margin: 0;
    }

    hr {
        margin: 0;
    }

    .container {
        background-color: #f4f5f7;
        height: 750px;
        width: 100%;
        /* content 中央揃え */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        height: 80%;
        width: 80%;
    }

    .fixed {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }

    /* ナビゲーションバー */

    a {
        color: #333333;
        text-decoration: none;
    }

    nav {
        background-color: #f4f5f7;
        height: 50px;
        box-shadow: 1px 1px 2px -1px;
    }

    nav ul {
        height: 100%;
        width: 60%;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
    }

    nav li {
        background-color: #f4f5f7;
        list-style: none;
        line-height: 50px;
        text-align: center;
        float: left;
        width: 25%;
        height: 100%;
        transition: all 300ms 0s ease;
    }

    nav li:hover {
        background-color: #333333;
        color: #f4f5f7;
        list-style: none;
        line-height: 50px;
        text-align: center;
        float: left;
        width: 25%;
        height: 100%;
    }

    #home {
        background-color: f4f5f7;
        float: left;
        line-height: 50px;
        text-align: center;
        height: 100%;
        width: 40%;
        margin-right: auto;
    }

    #nav-drawer {
        display: none;
    }

    /* 作品一覧 */

    #work-container {
        background-color: darkkhaki;
        width: 100%;
        height: auto;
        /* flexbox設定 */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .work {
        background-color: rgb(13, 99, 100);
        width: 320px;
        height: 180px;
        margin: 10px 10px;
    }
}

@media screen and (max-width: 767px){
    body {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        color: #333333;
    }

    h2 {
        margin: 0;
    }

    hr {
        margin: 0;
    }

    a {
        color: #333333;
        text-decoration: none;
    }

    nav {
        background-color: #f4f5f7;
        height: 50px;
        box-shadow: 1px 1px 2px -1px;
    }

    #nav-list-normal {
        display: none;
    }

    nav li {
        background-color: #f4f5f7;
        list-style: none;
        line-height: 50px;
        text-align: left;
        float: left;
        width: 25%;
        height: 100%;
        transition: all 300ms 0s ease;
    }

    nav li:hover {
        background-color: #333333;
        color: #f4f5f7;
        list-style: none;
        line-height: 50px;
        text-align: center;
        float: left;
        width: 25%;
        height: 100%;
    }

    .container {
        background-color: #f4f5f7;
        height: 500px;
        width: 100%;
        /* content 中央揃え */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        height: 80%;
        width: 80%;
    }

    .fixed {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }

    #home {
        background-color: #f4f5f7;
        float: rights;
        line-height: 50px;
        text-align: center;
        height: 100%;
        width: cals(100% -50px);
        margin-right: auto;
    }

    /* ナビゲーションドロワー */

    #nav-drawer {
        /* background-color: #2457bd; */
        float: left;
        text-align: center;
        height: 100%;
        width: 50px;
        margin-right: auto;
        /* 上下中央 */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-unshown {
        display: none;
    }

    #nav-open {
        display: inline-block;
        width: 30px;
        height: 22px;
        vertical-align: middle;
    }

    /*ハンバーガーアイコンをCSSだけで表現*/
    #nav-open span, #nav-open span:before, #nav-open span:after {
        position: absolute;
        height: 3px;/*線の太さ*/
        width: 25px;/*長さ*/
        border-radius: 3px;
        background: #333333;
        display: block;
        content: '';
        cursor: pointer;
    }
    #nav-open span:before {
        bottom: -8px;
    }
    #nav-open span:after {
        bottom: -16px;
    }

    /*閉じる用の薄黒カバー*/
    #nav-close {
        display: none;/*はじめは隠しておく*/
        position: fixed;
        z-index: 1;
        top: 0;/*全体に広がるように*/
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        transition: .3s ease-in-out;
    }

    /*中身*/
    #nav-content {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;/*最前面に*/
        width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
        max-width: 250px;/*最大幅（調整してください）*/
        height: 100%;
        background: #f4f5f7;/*背景色*/
        transition: .3s ease-in-out;/*滑らかに表示*/
        -webkit-transform: translateX(-105%);
        transform: translateX(-105%);/*左に隠しておく*/
    }
    
    /*チェックが入ったらもろもろ表示*/
    #nav-input:checked ~ #nav-close {
        display: block;/*カバーを表示*/
        opacity: 50%;
    }
    
    #nav-input:checked ~ #nav-content {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);/*中身を表示（右へスライド）*/
        box-shadow: 6px 0 25px rgba(0,0,0,.15);
    }

    #nav-content a {
        color: #333333;
        text-decoration: none;
    }

    #nav-content ul {
        height: 100%;
        width: 100%;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    #nav-content li {
        background-color: #f4f5f7;
        list-style: none;
        text-align: left;
        padding-left: 12%;
        width: 100%;
        height: 50px;
        transition: all 300ms 0s ease;
    }

    #nav-content li:hover {
        background-color: #333333;
        color: #f4f5f7;
        list-style: none;
    }
}